<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" style="background-color:#616161">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <form action="/choose" method="post">
            <div class="jumbotron" style="background-color:#E0E0E0">
                <h2 style="text-align: center;">Manage Cargos!</h2>
            </div>  
            
            <div class="jumbotron" style="background-color:#E0E0E0">
                <strong>Add a Cargo</strong>
                <br>
                <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-text">Cargo Type:</span>
                            <input type="text" aria-label="Convert from:" id="from" name="from" class="form-control" placeholder="Cargo Type" required
                                autofocus>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Cargo Weight:</span>
                            <input type="text" aria-label="Convert to:" id="to" name="to" class="form-control" placeholder="Weight" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Arrival Date:</span>
                            <input type="text" aria-label="Amount:" id="start" name="start" class="form-control" placeholder="Start date" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Departure Date:</span>
                            <input type="text" aria-label="Amount:" id="end" name="end" class="form-control" placeholder="End date" required
                            autofocus>                  
                        </div>
                        <br>
                       
                        <br>
                        <div class="input-group mb-3">
                            <button type="reset" class="btn btn-primary btn-rounded">Submit</button>
                            <% if (locals.converted) { %>
                                <span class="input-group-text" style="background-color:white">
                                    <%= converted %>
                                </span>
                            <% } %>
                        </div>

                        <div class="input-group mb-3">
                            <a href="http://127.0.0.1:8080/">
                                <button type="button" class="btn btn-primary btn-rounded">Click To View All Cargos</button>
                            </a>
                        </div>
                    
                </div>
            </div>
    
            <div class="jumbotron" style="background-color:#E0E0E0">
            <strong>Delete a Cargo</strong>
            <br>
            <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-text">Cargo Type: </span>
                        <input type="text" aria-label="Convert from:" id="from" name="from" class="form-control" placeholder="Cargo Type" 
                            autofocus>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Cargo Weight:</span>
                        <input type="text" aria-label="Convert to:" id="to" name="to" class="form-control" placeholder="Weight" 
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Arrival Date:</span>
                        <input type="text" aria-label="Amount:" id="start" name="start" class="form-control" placeholder="Start date" 
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Departure Date:</span>
                        <input type="text" aria-label="Amount:" id="end" name="end" class="form-control" placeholder="End date" 
                        autofocus>                  
                    </div>
                    <br>
                    
                    <br>
                    <div class="input-group mb-3">
                        <button type="reset" class="btn btn-primary btn-rounded">Delete</button>
                    </div>
                
            </div>
        </div>

        <div class="jumbotron" style="background-color:#E0E0E0">
            <strong>Update a Cargo</strong>
            <br>
            <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-text">Cargo Type:</span>
                        <input type="text" aria-label="Convert from:" id="from" name="from" class="form-control" placeholder="Cargo Type" required
                            autofocus>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Cargo Weight:</span>
                        <input type="text" aria-label="Convert to:" id="to" name="to" class="form-control" placeholder="Weight" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Arrival Date:</span>
                        <input type="text" aria-label="Amount:" id="start" name="start" class="form-control" placeholder="Start date" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Departure Date:</span>
                        <input type="text" aria-label="Amount:" id="end" name="end" class="form-control" placeholder="End date" required
                        autofocus>                  
                    </div>
                    <br>
                   
                    <br>
                    <div class="input-group mb-3">
                        <button type="reset" class="btn btn-primary btn-rounded">Submit</button>
                        <% if (locals.converted) { %>
                            <span class="input-group-text" style="background-color:white">
                                <%= converted %>
                            </span>
                        <% } %>
                    </div>
                
            </div>
        </div>
    





        </form>
    </main>
<!--JS Part-->

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>